/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #5d9bb6;
}

/* Size for default text */
nav .default
{
    font-size: medium;
}

/* Colors for default text*/
nav .default .blue
{
    color: #5d9bb6;
}
