{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <nav class="bg-secondary">
        <div class="container-fluid" class="embed-responsive embed-responsive-16by9">
            <div>
                Artist: {{ song.artist }}
            </div>
            <div>
                Song: {{ song.title }}
            </div>
        </div>
    </nav>

    <nav class="bg-secondary">
        <div class="container-fluid">
            <iframe width="560" height="315" referrerpolicy="no-referrer-when-downgrade" src="{{ video }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </nav>

    <nav class="bg-dark border border-secondary">
        <div class="container-fluid default">
            <span class="blue">
                <form action="/" method="POST">
                    {% if score|int != -1 %}
                        Score: {{ score }}<br />
                    {% endif %}
                    {% if correct is true %}
                        Nice!
                    {% endif %}
                    {% if reveal is true %}
                        Answer: {{ song.year }}
                    {% else %}
                        {% if correct is false %}
                            Wrong!<br />
                            Click here for the answer:
                            <input type="submit" name="reveal" value="Show Answer"><br />
                            Or try again:
                        {% else %}
                            Guess the year:
                        {% endif %}
                        <input name="guess" type="number" step="1">
                        <input type="submit" value="Guess!"><br />
                    {% endif %}
                </form><br />

                The closer your Average Score is to 0, the better!<br />
                <h2>Average Score: {{ average|round(2) }}<h2>
                
                <nav class="bg-dark border border-secondary"></nav>
                    <div class="container-fluid default">
                        <div class="col-3">
                            <table class="table default table-dark table-striped table-hover table-bordered table-sm">
                                <h3>Leaderboard of Best Scores </h3>
                                <h6>(for users with 10 or more guesses)</h6>
                                <thead class="table-dark">
                                    <th >User</th>
                                    <th>Average Score</th>
                                </thead>
                                {% for leader in leaderboard %}
                                    <tr>
                                        <td>{{ leader.username }}</td>
                                        <td>{{ leader.average_score|round(2) }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </nav>
            </span>
        </div>
    </nav>
{% endblock %}
